services:
  # Render Deployment Configuration (100% Free Tier)
  # Web Service (The API)
  - type: web
    name: homecontrol-backend
    env: docker
    dockerContext: ./backend/app
    dockerfilePath: ./backend/app/Dockerfile
    plan: free
    numInstances: 1
    region: oregon
    envVars:
      - key: DATABASE_URL
        fromDatabase:
          name: homecontrol-db
          property: connectionString
      - key: SECRET_KEY
        generateValue: true
      - key: ALGORITHM
        value: HS256
      - key: ACCESS_TOKEN_EXPIRE_MINUTES
        value: 1440 # 1 Day

databases:
  - name: homecontrol-db
    plan: free
    region: oregon

staticSites:
  - type: static
    name: homecontrol-cloud
    buildCommand: echo "No build needed"
    staticPublishPath: ./cloud
    pullRequestPreviewsEnabled: false
    routes:
      - type: rewrite
        source: /*
        destination: /index.html
