services:
  # The Backend Service (Docker)
  - type: web
    name: homecontrol-backend
    env: docker
    dockerContext: ./backend/app
    dockerfilePath: ./backend/app/Dockerfile
    plan: free
    envVars:
      - key: DATABASE_URL
        fromDatabase:
          name: homecontrol-db
          property: connectionString
      - key: REDIS_URL
        fromService:
          type: redis
          name: homecontrol-redis
          property: connectionString
      - key: SECRET_KEY
        generateValue: true
      - key: ACCESS_TOKEN_EXPIRE_MINUTES
        value: "60"

  # Managed Redis
  - type: redis
    name: homecontrol-redis
    plan: free
    ipAllowList: []    

databases:
  # Managed PostgreSQL
  - name: homecontrol-db
    plan: free
    databaseName: homecontrol
    user: homecontrol
